@font-face {
    font-family: Acrom;
    src: url(../fonts/acrom400.otf);
}
@font-face {
    font-family: Acrom-light;
    src: url(../fonts/acrom300.otf);
}
@font-face {
    font-family: Acrom-bold;
    src: url(../fonts/acrom900.otf);
}
@font-face {
    font-family: znikomit;
    src: url(../fonts/Znikomit.otf);
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: Acrom, sans-serif;
    color: black;
}
a,a:hover,a:active,a:focus{
    color: black;
    text-decoration: none;
}
.h-line{
    height: 1px;
    width: 100%;
    background-color: black;
}


/* ------ LOADER ------ */
.loaderArea {
    background: black;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 100000;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.letter-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    margin-left: 250px;
}
.loader .letters{
    width: 550px;
    height: 100px;
    position: relative;
    justify-self: center;
}
.letters-wrapper{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.letters-out-animation .letter-wrapper:first-child{
    left: -150px;
}
.letters-out-animation .letter-wrapper:nth-child(2){
    left: -50px;
}
.letters-out-animation .letter-wrapper:nth-child(3){
    left: 50px;
}
.letters-out-animation .letter-wrapper:last-child{
    left: 150px;
}
.letters-out-animation-v-line .letter-wrapper .q-letter .letter-circle:before,.letters-out-animation-v-line .letter-wrapper .b-letter .letter-circle:before{
    height: 80px;
}
.letter-wrapper{
    transition: left 2s ease-in-out;
}
.loader .letters .letter-circle{
    position: relative;
    top: 0;
    left: 0;
    width: 84px;
    height: 84px;
    background-color: white;
    border-radius: 50px;
}
.loader .letters .letter-circle:after{
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50px;
}
.q-letter .letter-circle:before{
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    right: 0;
    width: 2px;
    height: 0;
    background-color: white;
    transition: height .3s ease-in;
}
.b-letter .letter-circle:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 2px;
    height: 0;
    background-color: white;
    transition: height .3s ease-in;
}
/* ------ LOADER ------ */

/* ------------- video-background ---------------- */
body .landing {
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    position: relative;
    padding: 0 !important;
}
body .landing video {
    min-height: 1000px;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -2;
    object-fit: cover;
    border-radius: 0;
    transition: border-radius .1s linear,width 2s linear,height 2s linear;
}
.video-cont{
    min-height: 740px;
}
body .landing .text {
    position: relative;
    top: calc(50% - 2em);
    text-align: center;
}
/* ------------- end of video-background ---------------- */
/* ------------- main-menu ---------------- */
.cross-menu #main-hum span{
    background-color: white;
}
.menu-cont {
    position:fixed;
    float:left;
    top:4%;
    display: block;
    cursor: pointer;
    padding:4px;
    z-index:200;
}
.menu-txt {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: 700;
    font-family:'Righteous';
    text-overflow:ellipsis;
    background-image:-webkit-linear-gradient(#FA2300,#E1037C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor:pointer;
}
.overlay {
    position: fixed;
    background:rgba(0,0,0,0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index:100;
}
.overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
}
.overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
}
.overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Righteous', serif;
    font-weight: 400;
    text-align: center;
}
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}
.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}
.overlay ul li a {
    display: block;
    position: relative;
    text-overflow:ellipsis;
    background-image: -webkit-linear-gradient(#FA2300,#E1037C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
}
.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    -webkit-transition: .35s;
    transition: .35s;
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}
.overlay ul li a:hover{
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
}
.overlay ul li a:hover:before{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;

    -webkit-transition: .35s;
    transition: .35s;
}
.overlay ul li a:before{
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}
.lang-list {
    display: none;
}
#head{
    background-color: rgba(255,255,255,.0);
    transition: background-color .3s linear;
    text-transform: uppercase;
}
#menu-bg{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    z-index: -1;
    transition: background-color .5s linear,right .4s linear;
    background-color: rgba(255,255,255,.0);
}
.colored-menu-bg{
    background-color: rgba(0,0,0,.6) !important;
    right: 0 !important;
}
.colored-menu-bg #rightside-menu{
    box-shadow: -1px 0 35px rgba(0,0,0,.5);
}
#rightside-menu{
    transition: right .6s linear, box-shadow .6s linear;
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    box-shadow: 1px 0 35px rgba(0,0,0,.0);
    height: 100vh;
    padding-left: 65px;
}
#rightside-menu .menu-wrapper{
    margin-top: 10vh;
}
#rightside-menu a{
    font-size: 3em;
    font-family: Acrom, sans-serif;
    text-transform: uppercase;
    display: inline-flex;
    left: 165px;
    text-align: left;
    transition: transform .2s ease-in-out;
}
#rightside-menu a:before{
    content: '';
    transition: all .3s linear;
    display: inline-block;
    position: absolute;
    cursor: default;
    left: 0;
    align-self: center;
    width: 50px;
    height: 1px;
    background-color: #9095ff;
    transform: scaleX(0);
    transform-origin: left;
}
#rightside-menu a:hover{
    transform: translateX(-10px);
}
#rightside-menu a:hover:before{
    transform: scaleX(-1);
}
.hidden-menu{
    right: -100% !important;
}
#main-hum{
    top: 68px;
    width: 50px;
    height: 23px;
    position: absolute;
    cursor: pointer;
    z-index: 1050;
    right: 0;
}
#main-menu span{
    height: 2px;
    width: 32px;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .3s;
}
#main-menu span:nth-child(2){
    top: 8px;
    width: 24px;
}
#main-menu span:last-child{
    top: 16px;
    width: 28px;
}
.cross-menu #main-hum span:first-child{
    opacity: .0;
}
.cross-menu #main-hum span:nth-child(2){
    transform: rotate(45deg);
    width: 28px;
}
.cross-menu #main-hum span:last-child{
    top: 8px;
    transform: rotate(-45deg);
}
/* ------------- end of main-menu  ---------------- */
/* ------------- main header --------------------*/
/*margins for right and left fixed elements*/
.header-mob {
    display: none;
}
#main-hum,.languages,.port{
    padding-right: 0;
    margin-right: 54px;
}
.languages,.society{
    z-index: 10;
}
.port,.cont{
    z-index: 11;
}
#main-hum{
    z-index: 1310;
}
.navbar-brand,.cont,.society{
    padding-left: 0;
    margin-left: 62px;
}
.navbar-brand img{
    width: 104px;
    height: 41px;
}
.navbar-collapse>.navbar-nav{
    margin-left: -172px;
}
.navbar-brand{
    margin-top: 45px;
}
.languages,.society{
    position: fixed;
    height: 100vh;
    width: 30px;
}
.languages{
    right: 0;
}
.society{
    left: 0;
    top: 0;
}
.society .fa{
    color: rgb(199,199,199);
    transition: color .3s linear;
}
.society .fa:hover{
    color: rgb(0,0,0);
}
.languages>div{
    margin-top: 10px;
}
.languages a{
    display: block;
}
.languages a:hover{
    color: white;
    background-color: black;
}
.languages>h5{
    font-family: Acrom,sans-serif;
    font-size: 24px;
    text-align: left;
}
.main h5{
    width: 106px;
    height: 44px;
    font-family: Acrom,sans-serif;
    line-height: normal;
    font-size: 18px;
    color: #000000;
    margin-top: 120px;
    margin-left: 70px;
}
.main-header{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
}
.main-header-text{
    font-family: Acrom-bold,sans-serif;
    color: whitesmoke;
    font-size: 9vw;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 1px  1px 1px black,-1px -1px 1px black;
    letter-spacing: -8px;
}
.main-header-text:first-child{
    margin-left: -250px;
}
.main-header-text:last-child{
    margin-left: 250px;
    font-family: Acrom-light,sans-serif;
}
.main-container{
    padding-left: 0;
    padding-right: 0;
}
.cont{
    left: 0;
    position: fixed;
    bottom: 20px;
}
.port{
    right: 0;
    position: fixed;
    bottom: 20px;
}
/* ------------- end of main header --------------------*/
.test-block{
    height: 1000px;
    background-color: white;
}
.container-header{
    font-size: 40px;
    font-weight: 600;
    margin-top: 30vh;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: Acrom-bold, sans-serif;
}
/********************** */
/* Center align the text within the three columns below the carousel */
/************* services*******************/
.services-container{
    text-transform: uppercase;
    background: url("../img/back_services.png") no-repeat fixed center;
    padding-bottom: 30vh;
}
.services-block{
    height: 270px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    border: 1px solid #b7b7b7;
    position: relative;
    background-color: white;
    text-align: center;
    padding: 0;
    overflow: hidden;
}
.services-block>.services-front p{
    font-size: 12px;
    margin-left: 30px;
    margin-right: 30px;
}
.services-block>.services-front{
    transition: all .3s linear;
    top: 110px;
    position: absolute;
    padding: 0;
    z-index: 10;
}
.services-block>.branding{
    top: 120px;
}
.services-block>.video-prod{
    top: 90px;
}
.services-block>.services-front>p{
    opacity: .0;
    transition: opacity .1s linear;
    margin-top: 30px;
}
.services-block .color-w {
    background: rgb(109, 139, 245) !important;
}
.services-block .color-s {
    background: rgb(254, 101, 97);
}
.services-block .color-b {
    background: rgb(207, 1, 52);
}
.services-block .color-v {
    background: rgb(189, 72, 151);
}
.services-back{
    transition: all .3s linear;
    opacity: .0;
    background: #9095ff; /* Old browsers */
    background: -moz-linear-gradient(top, #9095ff 0%, #420456 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #9095ff 0%,#420456 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #9095ff 0%,#420456 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9095ff', endColorstr='#420456',GradientType=0 );
    height: 270px;
}
.services-back>h1{
    font-size: 400px;
    line-height: 250px;
    font-family: Acrom-bold, sans-serif;
    font-weight: bolder;
    color: rgba(255,255,255,.3);
}
.services-block:hover .services-front>p{
    opacity: 1.0;
}
.services-block:hover .services-front{
    top: 35px;
    color: white;
}
.services-block:hover .services-back{
    opacity: 1;
}
/************* end-services**************/
/************ adv-container*************/
.advantages-container{
    text-transform: uppercase;
    background: url("../img/back_advant.png") no-repeat center/cover;
    background-attachment: fixed;
    padding-bottom: 30vh;
}
.advantages-container .advantages-elem img{
    margin-bottom: 27px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.advantages-container .advantages-elem h3{
    display: inline-block;
    width: 130px;
    font-size: 16px;
    font-weight: 600;
}
.advantages-container .advantages-elem p{
    font-size: 12px;
    color: #d1d1d1;
}
/************ end-adv*******************/
/********** portfolio **********/
.portfolio-main-container{
    text-transform: uppercase;
    background: url("../img/back_portfolio.png") no-repeat center/cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.portfolio-container .gradient-button,.portfolio-container .gradient-button>span{
    opacity: .0;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black;
}
#recipeCarousel{
    text-align: center;
}
.carousel-inner{
    display: inline-block;
}
#recipeCarousel .carousel-item img{
    height: 285px;
}
#recipeCarousel .carousel-item>.col-4:hover .gradient-button{
    opacity: 1.0;
}
#recipeCarousel .carousel-item>.col-4:hover .gradient-button>span{
    opacity: 1.0;
}
.fa-caret-left,.fa-caret-right{
    font-size: 70px;
    color: white;
    transform: scaleX(1.5);
    text-shadow:
            -1px -1px 0 #a7c0ed,
            1px -1px 0 #a7c0ed,
            -1px 1px 0 #a7c0ed,
            1px 1px 0 #a7c0ed;
}
.portfolio-preview{
    padding: 0;
    position: relative;
}
.portfolio-preview img{
    width: 100%;
}
.portfolio-preview .portfolio-preview-colored-wrapper{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: background-color .3s linear,opacity .3s linear;
}
.portfolio-preview .portfolio-preview-colored-wrapper>div{
    height: 100%;
}
.portfolio-preview .portfolio-preview-colored-wrapper h2{
    color: white;
    font-family: Acrom-bold, sans-serif;
}
.portfolio-preview .portfolio-preview-colored-wrapper .portfolio-button{
    cursor: pointer;
    font-size: 12px;
    line-height: 31px;
    width: 126px;
    height: 31px;
    display: inline-block;
    transition: all .2s linear;
    border: none;
    color: white;
    border-radius: 3px;
    background-color: rgba(255,255,255,.3);
}
.portfolio-preview .portfolio-preview-colored-wrapper .portfolio-button:hover{
    background-color: rgba(255,255,255,.1);
}
.portfolio-preview hr{
    border-top: 1px solid white;
    width: 40px;
    margin: 10px 0 20px 0;
}
.portfolio-button::before, .portfolio-button::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
}
.draw {
    transition: color 0.25s;
}
.draw::before, .draw::after {
    border: 1px solid transparent;
    width: 0;
    height: 0;
}
.draw::before {
    top: 0;
    left: 0;
}
.draw::after {
    bottom: 0;
    right: 0;
}
.draw:hover {
    color: #fff;
}
.draw:hover::before, .draw:hover::after {
    width: 100%;
    height: 100%;
}
.draw:hover::before {
    border-top-color: #fff;
    border-right-color: #fff;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
    border-bottom-color: #fff;
    border-left-color: #fff;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.portfolio-preview:first-child .portfolio-preview-colored-wrapper{
    background-color: rgba(54,103,53,.0);
    opacity: .0;
}
.portfolio-preview:first-child .portfolio-preview-colored-wrapper:hover{
    background-color: rgba(54,103,53,.75);
    opacity: 1.0;
}
.portfolio-preview:nth-child(2) .portfolio-preview-colored-wrapper{
    background-color: rgba(100,0,0,.0);
    opacity: .0;
}
.portfolio-preview:nth-child(2) .portfolio-preview-colored-wrapper:hover{
    background-color: rgba(100,0,0,.75);
    opacity: 1.0;
}
.portfolio-element{
    margin-top: 50px;
    margin-bottom: 50px;
}
/********** end-portfolio **********/
/********** buttons **************/
.qoob-button{
    width: 130px;
    height: 35px;
    box-sizing: border-box;
    background-color: white;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 6px;
    position: relative;
    display: inline-block;
}
.gradient-button{
    border: none;
    background: linear-gradient(#8f93fc,#430659);
    transition: all .3s linear;
    height: 35px;
    opacity: 1.0;
}
.gradient-button>span{
    border-radius: inherit;
    cursor: pointer;
    font-size: 12px;
    line-height: 31px;
    background-color: rgba(255,255,255,1.0);
    width: 126px;
    height: 31px;
    display: inline-block;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: all .3s linear;
    opacity: 1.0;
}
.gradient-button>span:hover{
    background-color:rgba(255,255,255,.0);
    color: white;
}
/********** end-buttons**********/
/************** contacts ************/
.contacts-container{
    background: url("../img/back_contact.png") no-repeat center/cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.contacts-main-row{
    margin-top: 100px;
}
.contacts-main-row h1{
    font-family: Acrom-bold, sans-serif;
    font-weight: bolder;
}
.contacts-main-row h5{
    font-family: Acrom, sans-serif;
    text-transform: uppercase;
    margin-left: 30px;
    margin-top: 20px;
}
.contacts-main-row .gradient-button{
    margin-top: 40px;
}
.contacts-inform ul{
    list-style: none;
    font-family: Acrom, sans-serif;
}
.contacts-inform ul li{
    font-weight: 800;
}
.contacts-inform ul .header-contact-inform{
    font-weight: 100;
}
.contacts-inform ul li:nth-child(2),.contacts-inform ul li:nth-child(5){
    margin-bottom: 35px;
}
footer{
    background-color: #212121;
    color: white;
}
.copyright-qoob{

    min-height: 60px;
}
.copyright-qoob h6{
    line-height: 0.8rem;
    font-size: 0.8rem;
    font-family: Acrom-light, sans-serif;
}
/************* end-contacts *********/
/****************** ABOUT US PAGE ***********/
.who-we-container,.why-us-container,.contact-us-container{
    min-height: 100vh;
    background-color: white;
}
.who-we-container{
    background: url("../img/about us.png") no-repeat top;
}
.who-we-container>.container:first-child{
    height: inherit;
}
.why-us-container .container-header{
    margin-top: 15vh;
}
.why-us-adv-elem{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    width: 215px;
    display: inline-block;
}
.why-us-adv-elem>img{
    display: inline-block;
}
.why-us-adv-elem>h4{
    font-family: Acrom-bold,sans-serif;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;
}
.why-us-adv-elem>p{
    font-size: 12px;
    font-weight: bold;
}
.contact-us-container{
    background: url("../img/contact_us.png") no-repeat center/cover;
}
.contact-us-group{
    margin-top: 65vh;
}
.contact-us-group h5{
    text-transform: uppercase;
    color: rgba(255,255,255,.8);
    margin-bottom: 15px;
}
.contact-us-group .gradient-button{
    width: 215px;
    height: 60px;
}
.contact-us-group .gradient-button>span{
    width: 211px;
    height: 56px;
    line-height: 56px;
    font-family: Acrom-bold, sans-serif;
    font-size: 23px;
}
/************* end ABOUT US PAGE ****************/
/**********  PORTFOLIO PAGE ********************/
.no-bg {
    background: none !important;
}
.header-container{
    min-height: 440px;
    color: white;
}
.portfolio-header-container{
    background: url("../img/backphoto.png") no-repeat center/cover;
    background-attachment: fixed;
}
.services-header-container{
    background: url("../img/back1.png") no-repeat center/cover;
    background-attachment: fixed;
}
.portfolio-header,.services-header{
    font-family: Acrom, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 63px;
}
.portfolio-main-container p{
    font-size: 16px;
}
.portfolio-main-container-header>p{
    margin-top: 65px;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.portfolio-element-text p{
    margin-top: 65px;
}
/**********  end PORTFOLIO PAGE ********************/
/************** modal *************/
#modal-window{
    position: fixed;
    min-height: 600px;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    z-index: 10000;
    display: none;
    opacity: .0;
    transition: opacity .3s linear;
}
.show-modal{
    opacity: 1.0 !important;
}
#modal-window .container{
    height: 100%;
}
#modal-window #modal-inner{
    border-radius: 10px;
    background-color: white;
    position: relative;
    margin-top: -100px;
    transition: margin-top .4s linear;
}
.show-modal #modal-inner{
    margin-top: 0 !important;
}
#modal-window #modal-inner .close-modal{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 20px;
    height: 20px;
}
#modal-window #modal-inner .close-modal span{
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 1px;
    background-color: #212121;
    position: absolute;
    right:0;
    top: 10px;
}
#modal-window #modal-inner .modal-window-content{
    margin-top: 100px;
    margin-bottom: 100px;
}
#modal-button{
    cursor: pointer;
    text-transform: uppercase;
    background-color: white;
    color: #212121;
    border: 1px solid #212121;
    padding: 3px 50px;
    margin-top: 20px;
    transition: all .3s ease-in-out;
}
#modal-button:hover{
    background-color: #212121;
    color: white;
}
#modal-window #modal-inner .close-modal span:first-child{
    transform: rotate(45deg);
}
#modal-window #modal-inner .close-modal span:last-child{
    transform: rotate(-45deg);
}
/************ end modal **********/
/************** feedback form *********************/
.feedback-container{
    min-height: 100vh;
}
.feedback-header{
    text-transform: uppercase;
    font-family: Acrom-bold, sans-serif;
    font-size: 30px;
    margin-top: 105px;
    margin-bottom: 25px;
}
.form-group{
    max-width: 555px;
    min-width: 300px;
    display: inline-block;
    width: 100%;
}
.feedback-container .form-control{
    border: 1px solid rgba(255,255,255,.0);
    height: 55px;
    transition: border .2s linear;
}
.feedback-container .form-group textarea{
    height: 130px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.feedback-container .form-group textarea:focus,
.uneditable-input:focus {
    border-color: rgba(126, 239, 104, 0.0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 8px rgba(126, 239, 104, 0.0);
    outline: 0 none;
}
.feedback-container .form-control:hover,.feedback-container .form-control:focus,
.feedback-container .form-control:active,.feedback-container .form-group textarea:hover,
.feedback-container .form-group textarea:focus,
.feedback-container .form-group textarea:active{
    border-top: 1px solid rgba(144,149,255,1.0);
    border-left:1px solid rgba(144,149,255,1.0);
    border-right:1px solid rgba(144,149,255,1.0);
    border-bottom: 1px solid rgba(67,5,88,1.0);
    outline: 0 !important;
    outline-offset: 0 !important;
}
textarea{
    resize: none;
}
.feedback-container .gradient-button{
    height: 45px;
    width: 157px;
}
.feedback-container .gradient-button>span{
    height: 41px;
    line-height: 41px;
    font-size: 15px;
    width: 153px;
}
/************* end feedback form ****************/
/*************** services page **************/
.main-services-ways .serv-way-wrapper:hover .color-w {
    color: rgb(109, 139, 245);
}
.main-services-ways .serv-way-wrapper:hover .color-s {
    color: rgb(254, 101, 97);
}
.main-services-ways .serv-way-wrapper:hover .color-b {
    color: rgb(207, 1, 52);
}
.main-services-ways .serv-way-wrapper:hover .color-v {
    color: rgb(189, 72, 151);
}
.serv-description p{
    font-family: Acrom, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 100px;
}
.serv-way-wrapper{
    position: relative;
    height: 185px;
    overflow: hidden;
}
.serv-way-element{
    height: 100%;
    padding: 0;
}

.serv-way-element h3{
    font-family: Acrom-bold, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    display: inline-block;
    margin: 0 auto;
    color: rgb(0,0,0);
    transition: color .3s ease-in-out,text-shadow .3s linear;
    text-shadow: 1px 1px rgba(0,0,0,.0), -1px 1px rgba(0,0,0,.0),
    1px -1px rgba(0,0,0,.0), -1px -1px rgba(0,0,0,.0);
    z-index: 2;
    cursor: default;
}
.back-letter{
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    padding: 0;
}
.back-letter h1{
    font-family: Acrom-bold, sans-serif;
    font-size: 250px;
    line-height: 250px;
    display: inline-block;
    color: rgba(245,245,245,1.0);
    transition: color .2s linear;
}
.serv-way-wrapper:hover .serv-way-element h3{
    color: rgb(255,255,255);
    text-shadow: 1px 1px rgba(0,0,0,1.0), -1px 1px rgba(0,0,0,1.0),
    1px -1px rgba(0,0,0,1.0), -1px -1px rgba(0,0,0,1.0);
}
.serv-way-wrapper:hover .serv-number h2{
    color: rgba(206,206,206,1.0);
}
.serv-number{
    position: absolute;
    bottom: -6px;
    right: 0;
    padding: 0;
}
.serv-number h2{
    cursor: default;
    font-family: Acrom-light,sans-serif;
    font-size: 48px;
    color: rgba(245,245,245,1.0);
    transition: color .2s linear;
    line-height: 48px;
    margin-bottom: 0;
}
.services-group-container-header h2{
    font-family: Acrom-bold, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 40px;
}
.services-group-container{
    margin-bottom: 20px;
}
.services-group-elem-wrapper{
    height: 265px;
    overflow: hidden;
    box-sizing: border-box;
    border-top: 1px solid rgba(144,149,255,0.0);
    border-left:1px solid rgba(144,149,255,0.0);
    border-right:1px solid rgba(144,149,255,0.0);
    border-bottom: 1px solid rgba(67,5,88,0.0);
    transition: border .2s linear, background-color .2s linear;
    padding: 0;
}
.video-services .services-group-elem-wrapper{
    height: 325px;
}
.services-group-elem-header-wrapper{
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: rgba(245,245,245,1.0);
    transition: background-color .2s linear;
}
.services-group-elem-header{
    font-family: Acrom, sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 50px;
}
.services-group-elem-description{
    margin-left: 25px;
    margin-right: 25px;
    font-family: Acrom, sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: rgba(0,0,0,.0);
    transition: color .2s linear;
}
.services-group-elem-wrapper:hover{

}
.services-group-elem-wrapper:hover .services-group-elem-description{
    color: rgba(0,0,0,1.0);
}
.bg-color-w .services-group-elem-wrapper:hover, .bg-color-w .services-group-elem-wrapper:hover .services-group-elem-header-wrapper{
    background: rgb(109, 139, 245);
    color: white;
}
.bg-color-s .services-group-elem-wrapper:hover, .bg-color-s .services-group-elem-wrapper:hover .services-group-elem-header-wrapper {
    background: rgb(254, 101, 97);
    color: white;
}
.bg-color-b .services-group-elem-wrapper:hover, .bg-color-b .services-group-elem-wrapper:hover .services-group-elem-header-wrapper {
    background: rgb(207, 1, 52);
    color: white !important;
}
.bg-color-v .services-group-elem-wrapper:hover, .bg-color-v .services-group-elem-wrapper:hover .services-group-elem-header-wrapper {
    background: rgb(189, 72, 151);
    color: white;
}
/*************** end services page ***********/
/* RESPONSIVE CSS */
@media (max-width: 928px) {
    header .navbar {
        background: white !important;
    }
    header .navbar-brand {
        margin: 0;
    }
    header #main-hum {
        top: 23px;
        margin-right: 16px;
    }
    header .society, header .languages {
        display: none !important;
    }
    header .menu-wrapper div a{
        font-size: 35px !important;
    }
    .landing {
        display: none;
    }
    .services-container, .portfolio-main-container {
        background: none;
    }
    .header-mob {
        display: block;
        min-height: 500px;
        height: 100vh;
    }
    .header-mob-wrapper{
        position: relative;
    }
    .header-mob-inner{
        height: 100vh;
    }
    .header-mob-inner h1{
        font-family: Acrom-bold, sans-serif;
        font-size: 60px;
        color: white;
        text-shadow: 1px 1px rgba(0,0,0,1.0), -1px 1px rgba(0,0,0,1.0), 1px -1px rgba(0,0,0,1.0), -1px -1px rgba(0,0,0,1.0);
    }
    .services-block {
        margin-left: 0;
    }
    .contacts-container {
        background: none;
    }
    .services-container, .advantages-container {
        padding-top: 0;
        padding-bottom: 0;
        background: none;
    }
    .services-container .container-header {
        margin-top: 0;
    }
    .portfolio-main-container .portfolio-preview {
        margin-bottom: 20px;
    }
    .advantages-container .container-header, .portfolio-main-container .container-header {
        margin-top: 10vh;
    }
    .contacts-container .container-header {
        margin: 60px 0 0 0 !important;
    }
    .contacts-container .contacts-main-row {
        margin: 0 !important;
    }
    .contacts-container .contacts-inform {
        text-align: center;
        margin: 0 !important;
    }
    .contacts-container .contacts-inform ul {
        padding: 0 !important;
        margin-top: 30px;
    }
    .contacts-container .copyright-qoob h6 {
        margin-top: 0;
    }
    .contacts-container .submit-block h1 {
        font-size: 30px;
        margin-top: 20px;
    }
    .contacts-container .submit-block h5 {
        font-size: 15px;
        margin-bottom: -20px;
        margin-left: 0;
    }
    .feedback-container form {
        margin-bottom: 30px;
    }
    .who-we-container {
        background: none;
        display: block !important;
        min-height: 0 !important;
    }
    .who-we-container p {
        text-align: center;
    }
    .who-we-container .container-header {
        margin-top: 13vh;
    }
    .why-us-container .container-header{
        margin: 30px !important;
    }
    .contact-us-container {
        display: none;
    }
    .portfolio-main-container .portfolio-element-text h2 {
        font-size: 24px;
        margin-top: 10px;
    }
    .portfolio-main-container .portfolio-element-text p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .portfolio-main-container .portfolio-element {
        margin-bottom: 40px;
    }
    .lang-list {
        margin-top: 20px !important;
        display: flex !important;
        flex-direction: row !important;
    }
    .lang-list a {
        left: -20px !important;
        display: inline !important;
        font-size: 20px !important;
        background: none;
        border: none;
        transition: all .5s;
        text-align: center !important;
    }
    .lang-list a:hover, .lang-list a:active, .lang-list a:focus {
        display: inline !important;
        background: none;
        border: none;
        color: #868e96;
    }
    .loader .letters {
        width: 325px
    }
    .letter-wrapper{
        transform: scale(.5);
        margin-left: 125px;
    }
    .letters-out-animation .letter-wrapper:first-child{
        left: -75px;
    }
    .letters-out-animation .letter-wrapper:nth-child(2){
        left: -25px;
    }
    .letters-out-animation .letter-wrapper:nth-child(3){
        left: 25px;
    }
    .letters-out-animation .letter-wrapper:last-child{
        left: 75px;
    }
}